.sideBar {
  display: flex;
  flex-direction: column;
  flex: 3;
  height: 100%;
  margin-bottom: 100px;
}

.sideBar {
  //background-color: green;
  padding-top: 32px;
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;

  .recentPostTitle {
    font-size: 28px;
    font-family: "Pacifico", serif;
    margin-bottom: 20px;
  }
  .recentPostsLists {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 40px;
    .recentPost {
      padding: 16px 10px;
      display: flex;
      border-bottom: 1px solid rgba(0,0,0,.1);
      .cover {
        height: 74px;
        min-width: 74px;
        width: 74px;
        background-color: orange;
        margin-right: 10px;
        border-radius: 10px;
        background-size: cover;
      }
      .contentPart {
        display: flex;
        flex-direction: column;
        gap: 8px;

        .date {
          color: #ffd4ca;
        }

        .title {
          font-size: 19.2px;
          font-family: "Poppins", serif;
          line-height: 1.2;
          overflow: hidden;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
        }
      }
    }

    .tagCont {
      display: flex;
      align-items: center;
      padding: 20px 0;
      border-bottom: 1px solid rgba(0,0,0,.1);
    }
  }
}
.searchBar {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-bottom: 64px;
  input {
    box-sizing: border-box;
    border: 1px solid rgba(0,0,0,.1);
    -webkit-appearance: none;
    outline: none;
    font: inherit;
    line-height: 1;
    color: inherit;
    border-radius: 50px;
    transition: all 500ms ease;
    background: transparent;
    height: 38px;
    width: 100%;
    display: block;
    padding: 1em 1.5em;
    font-size: 16px;
    font-family: "Poppins", serif;
    &::placeholder {
      font-size: 16px;
      font-family: "Poppins", serif;
    }
  }
  button {
    outline: 0;
    background-repeat: no-repeat;
    box-sizing: border-box;
    -webkit-appearance: none;
    font: inherit;
    font-size: .875rem;
    min-width: 38px;
    min-height: 38px;
    border: 0;
    float: right;
    line-height: 38px;
    margin: 0 -38px 0 0;
    cursor: pointer;
    padding: 0 !important;
    color: transparent !important;
    transition: all 300ms ease;
    background-color: #ffd4ca;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    ion-icon {
      font-size: 20px;
      color: black;
      font-weight: bold;
    }
  }
}

@media (max-width: 768px) {

  .sideBar {
    padding: 16px;
  }
  .searchBar {
    justify-content: flex-start;
    input {
      width: 80%;
    }
  }
}