.parallax {
  height: 700px;
  width: 100%;

  .container {
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
    //background-color: transparent;

    .wave {
      position: absolute;
      top: 0;
      width: 100%;
    }

    .inner {
      display: flex;
      width: 100%;
      height: 100%;
      max-width: 1200px;
      //padding-top: 100px;
      .left, .right {
        display: flex;
        flex: 1;
        justify-content: center;
        flex-direction: column;

      }

      .left {
        .logoContainer {
          display: flex;
          color: black;
          font-size: 30px;
          margin-bottom: 30px;
          img {
            position: relative;
            top: 10px;
            max-width: 300px;
          }
        }

        .contactButton {
          height: 52px;
          width: 280px;
          border-radius: 50px;
          background-color: #fcd4ca;
          display: flex;
          //justify-content: center;
          align-items: center;
          padding-left: 30px;
          gap: 10px;
          margin-bottom: 20px;

          transition: box-shadow 0.2s ease-in-out;
          cursor: pointer;
          overflow: hidden;
          position: relative;

          .contactTitle {
            transition: all 0.2s ease-in-out;
          }

          .contactValue {
            transition: all 0.2s ease-in-out;
            transform: translateY(10px);
            opacity: 0;
            position: absolute;
            left: 70px;
          }

          &:hover {
            box-shadow: 0 0 0 4em #fcd4ca inset, 0 5px 0 0 rgb(24 24 24 / 15%) inset, 0 3px 10px rgb(0 0 0 / 20%);

            .contactTitle {
              transform: translateY(-10px);
              opacity: 0;
            }

            .contactValue {
              transition: all 0.2s ease-in-out;
              transform: translateY(0px);
              opacity: 1;
            }
          }

          .pipe {
            width: 1px;
            height: 50%;
            background-color: black;
          }
        }

        .socials {
          gap: 20px;
          display: flex;
          margin-bottom: 30px;
          padding-left: 65px;

          li {
            width: 38px;
            height: 38px;
            border-radius: 50%;
            background-color: var(--pink);
            display: flex;
            justify-content: center;
            align-items: center;

            ion-icon {
              color: white;
            }
          }
        }
      }

      .right {
        //background-color: deeppink;
        form {
          background-color: rgb(248, 248, 248);
          border-radius: 30px;
          padding: 40px;
          display: flex;
          flex-direction: column;
          gap: 20px;

          .formTitle {
            font-family: "Poppins", serif;
            font-size: 39.4672px;
            margin-bottom: 20px;
          }

          input, textarea {
            height: 48px;
            border: none;
            border-bottom: 1px solid rgb(248, 248, 248);
            background-color: white;
            font-size: 16px;
            color: rgb(0 0 0 / 90%);
            border-radius: 50px;
            width: 100%;
            padding: 16px 24px;

            &:focus {
              outline: none;
              border-bottom: 1px solid deeppink;
            }
          }

          textarea {
            height: 100px;
            resize: none;
          }

          button {
            font-size: 16px;
            padding: 16px 24px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            border-radius: 50px;
            border: none;
            background-color: #fcd4ca;
            font-family: "Poppins", serif;
            font-weight: bolder;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .parallax {
    height: 100vh;

    .container {
      background-color: #b2d8f1;
      height: 100vh;
      padding-top: 50px;

      .wave {
        width: initial;
      }

      .inner {
        flex-direction: column-reverse;
        gap: 30px;

        .left, .right {
          width: 100%;
          padding: 0 20px;
        }

        .left {
          background-color: #b2d8f1;
          justify-content: flex-start;

          .logoContainer {
            font-size: 20px;
            justify-content: center;
          }

          .socials {
            justify-content: center;
          }

          .contactButton {
            width: 100%;
            padding: 0 20px;

            .contactTitle {
              font-size: 14px;
            }

            .contactValue {
              font-size: 14px;
            }
          }
        }

        .right {

          form {
            padding: 40px 20px;

            .formRow {
              border-radius: 30px;
            }

            .formTitle {
              font-size: 30px;
            }
          }
        }
      }
    }
  }
}


@media (max-width: 768px) {
  .parallax {
    height: 1000px;
    width: 100%;

    .container {
      height: 1000px;
      .inner {
        .left {
          .logoContainer {
            img {
              top: 10px;
            }
          }
          .socials {
            padding-left: 0px;
          }
        }
      }
    }
  }
}

